<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundprint.mapper.UserFavoriteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soundprint.entity.UserFavorite">
        <id column="user_id" property="userId" />
        <id column="track_id" property="trackId" />
        <result column="favorited_at" property="favoritedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, track_id, favorited_at
    </sql>

</mapper>
