﻿-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: soundprint
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `album`
--

DROP TABLE IF EXISTS `album`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `album` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `title` varchar(200) NOT NULL COMMENT '专辑名称',
  `artist_id` bigint DEFAULT NULL COMMENT '所属艺术家 ID',
  `cover_url` varchar(500) DEFAULT NULL COMMENT '专辑封面 URL',
  `release_year` int DEFAULT NULL COMMENT '发行年份',
  `genre` varchar(50) DEFAULT NULL COMMENT '流派（Rock/Pop/Jazz/Classical 等）',
  `description` text COMMENT '专辑介绍',
  `is_deleted` tinyint NOT NULL DEFAULT '0',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_artist_id` (`artist_id`),
  KEY `idx_title` (`title`),
  KEY `idx_genre` (`genre`),
  CONSTRAINT `fk_album_artist` FOREIGN KEY (`artist_id`) REFERENCES `artist` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='专辑表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `album`
--

LOCK TABLES `album` WRITE;
/*!40000 ALTER TABLE `album` DISABLE KEYS */;
/*!40000 ALTER TABLE `album` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `artist`
--

DROP TABLE IF EXISTS `artist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `artist` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `name` varchar(100) NOT NULL COMMENT '艺术家名称',
  `bio` text COMMENT '艺术家简介',
  `avatar_url` varchar(500) DEFAULT NULL COMMENT '艺术家头像 URL',
  `country` varchar(50) DEFAULT NULL COMMENT '国籍/地区',
  `formed_year` int DEFAULT NULL COMMENT '成立/出道年份',
  `is_deleted` tinyint NOT NULL DEFAULT '0',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='艺术家表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artist`
--

LOCK TABLES `artist` WRITE;
/*!40000 ALTER TABLE `artist` DISABLE KEYS */;
/*!40000 ALTER TABLE `artist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversion_task`
--

DROP TABLE IF EXISTS `conversion_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversion_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `user_id` bigint NOT NULL COMMENT '发起用户 ID',
  `source_track_id` bigint NOT NULL COMMENT '源曲目 ID',
  `source_format` varchar(20) DEFAULT NULL COMMENT '源格式',
  `target_format` varchar(20) NOT NULL COMMENT '目标格式：FLAC/MP3/WAV/AAC',
  `target_bitrate` int DEFAULT NULL COMMENT '目标比特率（kbps，无损时可为 NULL）',
  `target_sample_rate` int DEFAULT NULL COMMENT '目标采样率（Hz）',
  `status` varchar(20) NOT NULL DEFAULT 'PENDING' COMMENT 'PENDING/RUNNING/SUCCESS/FAILED',
  `progress` int NOT NULL DEFAULT '0' COMMENT '进度 0-100',
  `output_path` varchar(500) DEFAULT NULL COMMENT '转换后文件路径',
  `error_message` text COMMENT '失败时的错误信息',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `started_at` datetime DEFAULT NULL COMMENT '开始执行时间',
  `finished_at` datetime DEFAULT NULL COMMENT '完成/失败时间',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_status` (`status`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='格式转换任务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversion_task`
--

LOCK TABLES `conversion_task` WRITE;
/*!40000 ALTER TABLE `conversion_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversion_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `play_history`
--

DROP TABLE IF EXISTS `play_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `play_history` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `user_id` bigint NOT NULL COMMENT '用户 ID',
  `track_id` bigint NOT NULL COMMENT '曲目 ID（不加 FK，允许引用软删除曲目）',
  `played_seconds` int NOT NULL DEFAULT '0' COMMENT '实际播放秒数',
  `played_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '播放时间',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_track_id` (`track_id`),
  KEY `idx_played_at` (`played_at`),
  KEY `idx_user_played` (`user_id`,`played_at`)
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='播放历史表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `play_history`
--

LOCK TABLES `play_history` WRITE;
/*!40000 ALTER TABLE `play_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `play_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist`
--

DROP TABLE IF EXISTS `playlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlist` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `user_id` bigint NOT NULL COMMENT '所属用户 ID',
  `name` varchar(100) NOT NULL COMMENT '歌单名称',
  `description` text COMMENT '歌单描述',
  `cover_url` varchar(500) DEFAULT NULL COMMENT '歌单封面（可选）',
  `is_deleted` tinyint NOT NULL DEFAULT '0',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_name` (`name`),
  CONSTRAINT `fk_playlist_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='歌单表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist`
--

LOCK TABLES `playlist` WRITE;
/*!40000 ALTER TABLE `playlist` DISABLE KEYS */;
INSERT INTO `playlist` VALUES (1,1,'深夜独处','一个人的夜晚，让音乐慢慢来',NULL,0,NULL,'2026-05-24 21:55:37','2026-05-24 21:55:37'),(2,1,'专注工作','不打扰的纯音乐，让代码飞起来',NULL,0,NULL,'2026-05-24 21:55:37','2026-05-24 21:55:37'),(3,1,'青葱岁月','回到过去的旋律',NULL,0,NULL,'2026-05-24 21:55:37','2026-05-24 21:55:37'),(4,1,'测试歌单Fill',NULL,NULL,1,NULL,'2026-05-25 18:55:20','2026-05-25 18:55:20');
/*!40000 ALTER TABLE `playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist_track`
--

DROP TABLE IF EXISTS `playlist_track`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlist_track` (
  `playlist_id` bigint NOT NULL COMMENT '歌单 ID',
  `track_id` bigint NOT NULL COMMENT '曲目 ID',
  `order_index` int NOT NULL DEFAULT '0' COMMENT '在歌单内的排序（小的在前）',
  `added_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '加入时间',
  PRIMARY KEY (`playlist_id`,`track_id`),
  KEY `idx_track_id` (`track_id`),
  KEY `idx_order` (`playlist_id`,`order_index`),
  CONSTRAINT `fk_pt_playlist` FOREIGN KEY (`playlist_id`) REFERENCES `playlist` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pt_track` FOREIGN KEY (`track_id`) REFERENCES `track` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='歌单-曲目关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist_track`
--

LOCK TABLES `playlist_track` WRITE;
/*!40000 ALTER TABLE `playlist_track` DISABLE KEYS */;
INSERT INTO `playlist_track` VALUES (1,1,1,'2026-05-24 21:55:37'),(1,2,2,'2026-05-24 21:55:37'),(1,5,3,'2026-05-24 21:55:37'),(1,11,4,'2026-05-24 21:55:37'),(1,18,5,'2026-05-24 21:55:37'),(1,28,6,'2026-05-24 21:55:37'),(2,10,1,'2026-05-24 21:55:37'),(2,11,2,'2026-05-24 21:55:37'),(2,18,3,'2026-05-24 21:55:37'),(2,19,4,'2026-05-24 21:55:37'),(2,20,5,'2026-05-24 21:55:37'),(3,13,1,'2026-05-24 21:55:37'),(3,14,2,'2026-05-24 21:55:37'),(3,15,3,'2026-05-24 21:55:37'),(3,29,4,'2026-05-24 21:55:37'),(3,30,5,'2026-05-24 21:55:37');
/*!40000 ALTER TABLE `playlist_track` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tag`
--

DROP TABLE IF EXISTS `tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tag` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `user_id` bigint NOT NULL COMMENT '创建标签的用户 ID',
  `name` varchar(50) NOT NULL COMMENT '标签名称',
  `color` varchar(20) DEFAULT NULL COMMENT '展示颜色（hex 如 #7C3AED）',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_name` (`user_id`,`name`),
  KEY `idx_user_id` (`user_id`),
  CONSTRAINT `fk_tag_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='标签表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag`
--

LOCK TABLES `tag` WRITE;
/*!40000 ALTER TABLE `tag` DISABLE KEYS */;
INSERT INTO `tag` VALUES (1,1,'深夜','#6366F1','2026-05-24 21:55:37','2026-05-24 21:55:37'),(2,1,'通勤','#06B6D4','2026-05-24 21:55:37','2026-05-24 21:55:37'),(3,1,'专注','#10B981','2026-05-24 21:55:37','2026-05-24 21:55:37'),(4,1,'怀旧','#F59E0B','2026-05-24 21:55:37','2026-05-24 21:55:37'),(5,1,'Workout','#EF4444','2026-05-24 21:55:37','2026-05-24 21:55:37');
/*!40000 ALTER TABLE `tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `track`
--

DROP TABLE IF EXISTS `track`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `track` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `title` varchar(200) NOT NULL COMMENT '曲目标题',
  `artist_id` bigint DEFAULT NULL COMMENT '艺术家 ID',
  `album_id` bigint DEFAULT NULL COMMENT '专辑 ID',
  `track_number` int DEFAULT NULL COMMENT '在专辑中的曲目编号',
  `file_path` varchar(500) NOT NULL COMMENT '音频文件磁盘路径',
  `cover_url` varchar(500) DEFAULT NULL COMMENT '曲目封面（覆盖专辑封面）',
  `format` varchar(20) NOT NULL COMMENT '格式：FLAC/MP3/WAV/AAC/OGG',
  `duration_seconds` int NOT NULL DEFAULT '0' COMMENT '时长（秒）',
  `bitrate_kbps` int DEFAULT NULL COMMENT '比特率（kbps）',
  `sample_rate_hz` int DEFAULT NULL COMMENT '采样率（Hz）',
  `channels` tinyint DEFAULT NULL COMMENT '声道数（1=单声道，2=立体声）',
  `file_size_bytes` bigint DEFAULT NULL COMMENT '文件大小（字节）',
  `lyrics` text COMMENT '歌词（LRC 或纯文本）',
  `extra_metadata` json DEFAULT NULL COMMENT '扩展元数据（JSON）',
  `is_deleted` tinyint NOT NULL DEFAULT '0',
  `deleted_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '上传时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_artist_id` (`artist_id`),
  KEY `idx_album_id` (`album_id`),
  KEY `idx_title` (`title`),
  KEY `idx_format` (`format`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `fk_track_album` FOREIGN KEY (`album_id`) REFERENCES `album` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_track_artist` FOREIGN KEY (`artist_id`) REFERENCES `artist` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='曲目表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `track`
--

LOCK TABLES `track` WRITE;
/*!40000 ALTER TABLE `track` DISABLE KEYS */;
/*!40000 ALTER TABLE `track` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `track_tag`
--

DROP TABLE IF EXISTS `track_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `track_tag` (
  `track_id` bigint NOT NULL COMMENT '曲目 ID',
  `tag_id` bigint NOT NULL COMMENT '标签 ID',
  `tagged_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '打标签时间',
  PRIMARY KEY (`track_id`,`tag_id`),
  KEY `idx_tag_id` (`tag_id`),
  CONSTRAINT `fk_tt_tag` FOREIGN KEY (`tag_id`) REFERENCES `tag` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tt_track` FOREIGN KEY (`track_id`) REFERENCES `track` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='曲目-标签关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `track_tag`
--

LOCK TABLES `track_tag` WRITE;
/*!40000 ALTER TABLE `track_tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `track_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `username` varchar(50) NOT NULL COMMENT '用户名（登录用，全局唯一）',
  `password` varchar(100) NOT NULL COMMENT '密码（建议存哈希）',
  `nickname` varchar(50) DEFAULT NULL COMMENT '昵称（界面显示）',
  `avatar_url` varchar(500) DEFAULT NULL COMMENT '头像 URL（相对路径或外链）',
  `bio` varchar(255) DEFAULT NULL COMMENT '个人简介',
  `is_deleted` tinyint NOT NULL DEFAULT '0' COMMENT '软删除标志：0=正常，1=已删除',
  `deleted_at` datetime DEFAULT NULL COMMENT '软删除时间',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='用户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'admin','REDACTED_DEMO_PASSWORD','Kaidi',NULL,'热爱无损音乐的开发者',0,NULL,'2026-05-24 21:55:37','2026-05-24 21:55:37');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_favorite`
--

DROP TABLE IF EXISTS `user_favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_favorite` (
  `user_id` bigint NOT NULL COMMENT '用户 ID',
  `track_id` bigint NOT NULL COMMENT '曲目 ID',
  `favorited_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '收藏时间',
  PRIMARY KEY (`user_id`,`track_id`),
  KEY `idx_track_id` (`track_id`),
  KEY `idx_favorited_at` (`favorited_at`),
  CONSTRAINT `fk_uf_track` FOREIGN KEY (`track_id`) REFERENCES `track` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_uf_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='用户收藏表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_favorite`
--

LOCK TABLES `user_favorite` WRITE;
/*!40000 ALTER TABLE `user_favorite` DISABLE KEYS */;
INSERT INTO `user_favorite` VALUES (1,1,'2026-05-24 21:55:37'),(1,13,'2026-05-24 21:55:37'),(1,18,'2026-05-24 21:55:37'),(1,28,'2026-05-24 21:55:37'),(1,38,'2026-05-26 19:03:48'),(1,60,'2026-05-26 22:29:05');
/*!40000 ALTER TABLE `user_favorite` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-27  0:25:01
